input {
    accent-color: dimgrey;
    outline: none;
}
input[type="checkbox"] {
    margin-right: 0.625rem;
    margin-left: 0.125rem;
    outline: none;
}
@media (prefers-color-scheme: dark) {
    input[type="checkbox"] {
        filter: brightness(30%);
    }
    input[type="checkbox"]:checked {
        filter: brightness(100%);
    }
}
input[type=text] {
    display: flex;
    flex-grow: 1;
    height: 20px;
    border-color: #94a3b8;
    border-width: 1px;
    outline: none;
}
input[type=number] {
    border-color: #94a3b8;
    border-width: 1px;
    outline: none;
    -moz-appearance: textfield; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=date] {
    border-color: #94a3b8;
    border-width: 1px;
}
textarea, select, fieldset {
    border-color: #94a3b8;
    border-width: 1px;
    outline: none;
}
hr {
    border-color: #94a3b8;
    height: 1px;
}
@media (prefers-color-scheme: dark) {
    input[type=text] {
        display: flex;
        flex-grow: 1;
        height: 20px;
        border-color: #334155;
        border-width: 1px;
        outline: none;
        background-color: #1f2937;
        color: #94a3b8;
    }
    input[type=number] {
        background-color: #1f2937;
        border-color: #334155;
        border-width: 1px;
        color: #94a3b8;
    }
    input[type=date] {
        background-color: #1f2937;
        border-color: #334155;
        border-width: 1px;
        color: #94a3b8;
    }
    input[type=datetime-local] {
        background-color: #1f2937;
        border-color: #334155;
        border-width: 1px;
        color: #94a3b8;
    }
    fieldset {
        border-color: #334155;
        border-width: 1px;
        outline: none;
    }
    textarea, select  {
        background-color: #1f2937;
        border-color: #334155;
        border-width: 1px;
        outline: none;
        color: #94a3b8;
    }
    hr {
        border-color: #334155;
    }
}
button[type=button] {
    border-width: 1px;
    border-color: #3b82f6;
    border-radius: 0.25rem;
    color: #3b82f6;
    height: 1.5rem;
    padding: 0 0.25rem;
    outline: none;
}
button[type=button]:hover {
    background-color: #bfdbfe;
}
@media (prefers-color-scheme: dark) {
    button[type=button]:hover {
        background-color: #1e3a8a;
    }
}
button[type=button].mode {
    height: 2rem;
    padding: 0.5rem;
}
button[type=button].submit {
    border-color: #10b981;
    color: #10b981;
    width: 100px;
}
button[type=button].submit:hover {
    background-color: #a7f3d0;
}
@media (prefers-color-scheme: dark) {
    button[type=button].submit:hover {
        background-color: #064e3b;
    }
}
button[type=button]:disabled {
    border-color: #64748b;
    color: #64748b;
}
button[type=button]:disabled:hover {
    background-color: unset;
}
button[type=button].delete {
    border-color: #ef4444;
    color: #ef4444;
    width: 100px;
}
button[type=button].delete:hover {
    background-color: #fecaca;
}
@media (prefers-color-scheme: dark) {
    button[type=button].delete:hover {
        background-color: #7f1d1d;
    }
}
button[type=button].delete:disabled {
    visibility: hidden;
    border-color: #64748b;
    color: #64748b;
}

button[type=button].report {
    border-color: #f59e0b;
    color: #f59e0b;
    width: 100px;
}
button[type=button].report:hover {
    background-color: #fde68a;
}
button[type=button].report:disabled:hover {
    background-color: unset;
}
@media (prefers-color-scheme: dark) {
    button[type=button].report:hover {
        background-color: #78350f;
    }
}

button[type=button].donate {
    border-color: #06b6d4;
    border-radius: 0.25rem;
    color: #06b6d4;
    height: 1.5rem;
    padding: 0 0.25rem;
}
button[type=button].donate:hover {
    background-color: #a5f3fc;
}
@media (prefers-color-scheme: dark) {
    button[type=button].donate:hover {
        background-color: #164e63;
    }
}


button.json-editor-btn-edit,button.json-editor-btn-movedown,button.json-editor-btn-moveup,button.json-editor-btn-subtract,button.json-editor-btntype-deleteall {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
}
div.form-control {
    display: flex;
    padding: 0.25rem;
}
input[type=text].msg-attr-name {
    text-transform: lowercase;
}
div.form-control label.je-form-input-label {
    font-weight: normal;
    margin-right: 0.5rem;
    padding-top: 0.125rem;
}
div label.required.je-form-input-label {
    font-weight: normal;
    margin-right: 0.5rem;
}
input[type=checkbox].je-checkbox {
    margin-top: 0.25rem;
}
div.form-group {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}
div label.control-label {
    padding-right: 0.5rem;
}
div[data-schemaid="cond"] {
    border-width: 1px;
    border-color: #94a3b8;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
input[type=text].property-selector-input {
    display: none;
}
div.je-modal button[type=button].json-editor-btn-add {
    display: none;
}
p[role=alert].errormsg {
    color: #ef4444;
}
select {
    outline: none;
}
body {
    font-family: var(--default-font);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    background-color: var(--block-bg-color);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;

    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --bg-color: #ebedf0;
    --animation: .15s ease;
    --page-animation-duration: .3s;
    --page-animation: var(--page-animation-duration) ease;
    --status-height: 48px;
    --accent-color: #31b545;
    --main-color: #f8a917;
    --text-color: #222;
    --page-hint-color: #83878a;
    --hint-color: #74787a;
    --placeholder-color: #999da1;
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
    cursor: default;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #0f0f0f;
        --text-color: #fff;
        --page-hint-color: #9b9ba1;
        --hint-color: #64666d;
        --placeholder-color: #525252;
    }
}
button[type=button].attr {
    width: 40px;
    height: 40px;
}
@media (prefers-color-scheme: dark) {
    div.je-modal {
        background-color: #111827;
        border-color: #1f2937;
        box-shadow: #1f2937;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: -1px;
    box-shadow: 0px 4px 8px 0px rgba(59,130,246,0.25);
    z-index: 1;
    border-width: 1px;
    border-color: #3b82f6;
    border-radius: 0.25rem;
    color: #3b82f6;
    background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    .dropdown-content {
        background-color: #111827;
        box-shadow: 0px 4px 8px 0px rgba(30,58,138,0.25);
    }
}

.dropdown-content fieldset {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-content legend {
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    display: block;
}
.dropdown-content div {
    margin: 1rem 1rem;
    display: block;
    height: 1.5rem;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:grid;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6b7280;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

@media (prefers-color-scheme: dark) {
    .slider:before {
        background-color: #1e293b;
    }
}

input:checked + .slider {
    background-color: #06b6d4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.svg-text {
    fill: dimgrey;
}

@media (prefers-color-scheme: dark) {
    .svg-text {
        fill: grey;
    }
}

.svg-chart-rect {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    stroke-opacity: 0.5;
}

.svg-chart-line-major {
    stroke: grey;
    stroke-width: 1;
    stroke-opacity: 0.5;
}

.svg-chart-line-minor {
    stroke: grey;
    stroke-width: 1;
    stroke-opacity: 0.25;
}

.svg-chart-line-data {
    stroke-width: 1;
    stroke: #0000aa;
}

@media (prefers-color-scheme: dark) {
    .svg-chart-line-data {
        stroke-width: 1;
        stroke: #4488ff;
    }
}

.svg-chart-line-avg {
    stroke-width: 1;
    stroke: #a21caf;
}

@media (prefers-color-scheme: dark) {
    .svg-chart-line-avg {
        stroke-width: 1;
        stroke: #e879f9;
    }
}

.waiting-cursor {
    cursor: wait;
}

/* Tooltips, from: https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #666; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #444;
    color: #ddd;
    text-align: left;
    padding: 5px 8px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 8px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #444 transparent;
}

@media (prefers-color-scheme: dark) {
    .tooltip {
        border-bottom: 1px dotted #aaa; /* If you want dots under the hoverable text */
    }
}
